/*

ORANGE = #ce7a41
DARK ORANGE = #c16b30

GMAELISTBOX = #43484c
MEDIUM GRAY = #2b3238
Icon GRAY = #363b41

DARK WHITE = #919191
DARK WHITE HOVER = #bebebe

*/


/********************************************
SITEWIDE STYLES
********************************************/

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-color: #2b3238;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  color: white;
  padding-top: 60px;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.inputflex {
  width: 300px;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.inputflex button {
  background-color: #ce7a41;
  border: none;
  padding: 1.1em;
  font-size: 0.9em;
  border-radius: 3px;
  margin: 0.4em 0;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: block;
  width: 300px;
}

.inputflex button:hover {
  background-color: #c16b30;
}

.flexinput {
  position: relative;
  margin: 0.4em 0;
}

.flexinput input {
  font-size: 0.9em;
  padding: 1.1em;
  background-color: #43484c;
  color: white;
  border: none;
  border-radius: 0 3px 3px 0;
  outline: none;
  width: 255px;
  margin-left: 45px;
}

.flexinput i {
  position: absolute;
  background-color: #363b41;
  font-size: 1.28em;
  padding: 0.7em;
  border-radius: 3px 0 0 3px;
  color: gray;
  width: 45px;
  text-align: center;
}

header {
  background-color: #24292d;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
}

.headlogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.headerlogotext {
  margin-left: 15px;
}

.headgame {
  font-size: 1em;
  letter-spacing: 0.2em;
  font-weight: 500;
  margin: 0;
}

.headex {
  font-size: 0.75em;
  letter-spacing: 0.4em;
  font-weight: 200;
  margin: 0;
}

header img {
  width: 55px;
  padding: 5px;
}

header a:hover {
  color: #ce7a41;
}


/********************************************
LOGIN
********************************************/

.loginback {
  width: 1600px;
  position: fixed;
  z-index: -100;
  margin-left: -803px;
  left: 50%;
  top: 193px;
  opacity: 0.5;
}

.logo {
  width: 175px;
  margin: 0 auto 35px;
  display: block;
}

h1.logotext {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin: 0;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

h2.logotext {
  font-size: 1.2em;
  letter-spacing: 0.5em;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

.logowrap {
  margin: 50px auto;
}

.redirect {
  color: #43484c;
  font-size: 0.8em;
  text-align: center;
}

.redirect a {
  color: white;
  text-decoration: none;
}

.redirect a:hover {
  color: #bebebe;
}


/********************************************
SIGN UP
********************************************/

.signupp {
  text-align: center;
  color: #bebebe;
  width: 100%;
  margin: 35px auto;
  font-size: 1.1em;
  line-height: 1.5em;
}


/********************************************
PROFILE
********************************************/

.profile {
  width: 175px;
  margin: 0 auto;
  border-radius: 87.5px;
  display: block;
}

.editprof {
  text-align: center;
  color: #6d7072;
}

.profwrap {
  margin: 50px auto;
}


/********************************************
GAMGET LIST
********************************************/

.userproflink {
  color: white;
  text-decoration: none;
}

.userproflink:hover {
  color: #ce7a41;
}

.userproflink i {
  margin: 0 5px;
}

.displaytype {
  width: 200px;
  margin: 50px auto;
  text-align: center;
  font-size: 1.8em;
}

.displaytype a {
  color: white;
}

.displaytype i {
  margin: 0 5px;
}

.active {
  color: #ce7a41;
}

.disabled:hover {
  color: #bebebe;
  cursor: pointer;
}

.listul {
  width: 350px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.game {
  margin: 20px 0 40px;
}

.viewimggame {
  padding: 0;
  margin: -8px;
}

.game h3 {
  background-color: #43484c;
  padding: 12px;
  font-size: 1em;
  font-weight: 300;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.game img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.gameinfo {
  background-color: #43484c;
  padding: 12px 12px 6px;
  margin: -3px 0 0;
  border-radius: 0 0 4px 4px;
}

.viewgame {
  border: none;
  padding: 0.8em;
  font-size: 0.7em;
  border-radius: 3px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  width: 295px;
  background-color: #ce7a41;
  display: block;
  margin: 2px auto;
}

.viewgame:hover {
  background-color: #c16b30;
}

.game ul {
  list-style-type: none;
  padding: 0 10px;
  margin: 20px 0;
  font-size: 0.75em;
}

.game ul li {
  padding: 3px 0;
}

.commenttext {
  color: #bebebe;
}


/********************************************
GAMEGET LARGE
********************************************/

.largeul {
  width: 100%;
  padding: 0;
  list-style-type: none;
  margin: 15px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.largeul li {
  width: 180px;
  min-width: 180px;
  margin: 10px;
}

span.roll {
  background: url(../img/roll.png) center center no-repeat #000;
  background-size: 75px;
  height: 180px;
  position: absolute;
  width: 180px;
  z-index: 10;
  box-shadow: 0px 0px 4px #000;
}


/********************************************
USER PROFILE
********************************************/

.usernametitle {
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.editprof2 {
  text-align: center;
  color: #6d7072;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#profileimg {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.userupdate {
  width: 175px;
  display: block;
  margin: 0 auto;
}

.userupdate:hover #profileimg {
  opacity: 0.5;
}

.userupdate:hover .usernametitle {
  opacity: 0.5;
}

.userupdate:hover .editprof2 {
  color: white;
}

.profilebuttons {
  width: 100%;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.profilebuttons a {
  width: 180px;
  min-width: 180px;
  margin: 4px 10px;
  border: none;
  padding: 0.8em;
  font-size: 0.7em;
  border-radius: 3px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

#addpost {
  background-color: #ce7a41;
}

.profilefavourites,
.profileposts {
  background-color: #43484c;
}

#addpost:hover {
  background-color: #c16b30;
}

.profilefavourites:hover,
.profileposts:hover {
  cursor: default;
}

span.rolledit {
  background: url(../img/rolledit.png) center center no-repeat #000;
  background-size: 75px;
  height: 180px;
  position: absolute;
  width: 180px;
  z-index: 10;
  box-shadow: 0px 0px 4px #000;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  text-align: center;
  color: #6d7072;
  cursor: pointer;
  width: 120px;
  display: block;
  margin: 10px auto;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: #ce7a41;
}


/********************************************
GAMECREATE
********************************************/

.inputflexcreate {
  width: 300px;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.inputflexcreate button {
  background-color: #ce7a41;
  border: none;
  padding: 1.1em;
  font-size: 0.9em;
  border-radius: 3px;
  margin: 0.4em 0;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: block;
  width: 300px;
}

.inputflexcreate button:hover {
  background-color: #c16b30;
}

.inputflexcreate input {
  font-size: 0.9em;
  padding: 1.1em;
  background-color: #43484c;
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
  margin: 0.4em 0;
  width: 300px;
}

.inputflexcreate select {
  background: url(../img/downarrow.png) no-repeat;
  background-position: 272px center;
  background-size: 20px;
  font-size: 0.9em;
  padding: 1.1em;
  background-color: #43484c;
  color: #acacac;
  border: none;
  border-radius: 3px;
  outline: none;
  margin: 0.4em 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 300px;
}

.imageupload {
  margin: 50px auto;
}

.imageupload button {
  background-color: #ce7a41;
  border: none;
  padding: 0.7em 2em;
  font-size: 0.9em;
  border-radius: 3px;
  margin: 0.4em 0;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.imageupload button:hover {
  background-color: #c16b30;
}

.numof label {
  color: #acacac;
}

.numof input {
  width: 80px;
}

label:first-child {
  width: 108.3px;
  display: inline-block;
}

.gameimg2 {
  width: 175px;
  margin: 0 auto;
  display: block;
}


/********************************************
MEDIA QUERIES 768
********************************************/

@media screen and (max-width:48em) {
  .wrapper {
    width: 80%;
  }
  .largeul li {
    width: 200px;
    min-width: 200px;
  }
  span.roll {
    background-size: 80px;
    height: 200px;
    width: 200px;
  }
  .profwrap {
    margin: 50px auto 20px;
  }
  .inputflex a {
    padding: 1em;
    font-size: 0.8em;
  }
  .flexinput input {
    font-size: 0.8em;
    padding: 1em;
  }
  .flexinput i {
    font-size: 1.15em;
    padding: 0.62em;
  }
}


/********************************************
MEDIA QUERIES 480
********************************************/

@media screen and (max-width:30em) {
  .wrapper {
    width: 90%;
  }
  .largeul li {
    width: 240px;
    min-width: 240px;
  }
  span.roll {
    background-size: 85px;
    height: 240px;
    width: 240px;
  }
}