/********************************************
SITEWIDE STYLES
********************************************/

* {
  box-sizing: border-box;
}

body {
  background-color: #36393c;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.inputflex {
  width: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.inputflex a {
  background-color: #bc773e;
  border: none;
  padding: 1.1em;
  font-size: 0.9em;
  border-radius: 3px;
  margin: 0.4em 0;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.inputflex a:hover {
  background-color: #ac652c;
}

.flexinput {
  position: relative;
  margin: 0.4em 0;
}

.flexinput input {
  font-size: 0.9em;
  padding: 1.1em;
  background-color: #4e4e51;
  color: white;
  border: none;
  border-radius: 0 3px 3px 0;
  outline: none;
  width: 255px;
  margin-left: 45px;
}

.flexinput i {
  position: absolute;
  background-color: #3f3f42;
  font-size: 1.28em;
  padding: 0.7em;
  border-radius: 3px 0 0 3px;
  color: gray;
  width: 45px;
}


/********************************************
LOGIN
********************************************/

.logo {
  width: 175px;
  margin: 0 auto 35px;
  display: block;
}

h1.logotext {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin: 0;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

h2.logotext {
  font-size: 1.2em;
  letter-spacing: 0.5em;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

.logowrap {
  margin: 50px auto;
}

.redirect {
  color: #919191;
  font-size: 0.8em;
  text-align: center;
}

.redirect a {
  color: white;
  text-decoration: none;
}

.redirect a:hover {
  color: #b5b3b3;
}


/********************************************
PROFILE
********************************************/

.signupp {
  text-align: center;
  color: #bebebe;
  width: 375px;
  margin: 35px auto;
  font-size: 1.1em;
  line-height: 1.5em;
}


/********************************************
PROFILE
********************************************/

.profile {
  width: 175px;
  margin: 0 auto;
  border-radius: 87.5px;
  display: block;
}

.editprof {
  text-align: center;
  color: gray;
}

.profwrap {
  margin: 50px auto;
}