<header>
  <div class="headlogo">
    <img src="./img/smalllogo.png" />
    <div class="headerlogotext">
      <p class="headgame">THE GAME</p>
      <p class="headex">EXCHANGE</p>
    </div>
  </div>
  <a href='userprofile'><span id="cancel">cancel</span></a>
</header>
<div class='wrapper'>
  <div class='inputflexcreate'>
    <form id="gameForm" name="makegame" method="post">
      <input type='text' id='title' placeholder='Game Title' autofocus='autofocus' required='true' pattern='[a-z, A-Z]{1,30}' />
      <select id='genreselect'>
        <option disabled selected value='40'>Choose an genre</option>
      </select>
      <div class='numof'>
        <label for='minplayers'>Players:</label>
        <input type='number' id='minplayers' min='1' max='99' value='1'  required />
        <label for='maxplayers'>To</label>
        <input type='number' id='maxplayers' min='1' max='99' value='2'  required />
      </div>
      <div class='numof'>
        <label for='mintime'>Play time:</label>
        <input type='number' id='mintime' min='1' max='999' value='20'  required />
        <label for='maxtime'>To</label>
        <input type='number' id='maxtime' min='1' max='999' value='40'  required />
      </div>
      <input type='number' id='age' min='1' max='99' placeholder='Enter minimum age' required />
      <button id='add'>EDIT</button>
    </form>
  </div>
</div>
<script>
  $(document).ready(function () {
    
    $.ajax({
      url: "./controller/games.php",
      type: "post",
      dataType: "json",
      data: {
        method: "getgame",
        game_id: sessionStorage.game_id
      },
      success: function (resp) {
        $(".imageupload img").attr("src", resp[0].image);
        $("#title").attr("value", resp[0].title);
        $("#username").attr("value", resp[0].username);
        $("#email").attr("value", resp[0].email);
        $("#city").attr("value", resp[0].location);
        $("#password").attr("value", resp[0].password);
        $("#confirmpassword").attr("value", resp[0].password);


      }
    });

    $("#gameForm").submit(function() {
          

        $.ajax({
          url: "./controller/games.php",
          type: "post",
          dataType: "html",
          data: {
            method: "update",
            title: document.getElementById('title').value,
            genre: document.getElementById('genreselect').value,
            players: document.getElementById('minplayers').value + " - " + document.getElementById('maxplayers').value,
            time: document.getElementById('mintime').value + "mins - " + document.getElementById('maxtime').value + "mins",
            age: document.getElementById('age').value + "+",
            game_id: sessionStorage.game_id
          },
          success: function (resp) {
            location.replace("userprofile");
          }
        });


    });

    $.ajax({
      url: "./controller/genres.php",
      type: "POST",
      dataType: "json",
      data: {
        method: "getall"
      },
      success: function (resp) {
        for (var i = 0; i < resp.length; i++) {
          $('<option>').val(resp[i].ID).text(resp[i].genrename).appendTo('#genreselect');
        }
      }
    });
    
    
     

      



  });
</script>