<header>
  <div class="headlogo">
    <img src="./img/smalllogo.png" />
    <div class="headerlogotext">
      <p class="headgame">THE GAME</p>
      <p class="headex">EXCHANGE</p>
    </div>
  </div>
  <a class ='userproflink' href='userprofile'><i class='fa fa-user'></i><span id="headuser"></span></a>
</header>
<div class="wrapper">
  <div id="display">

  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {

    $.ajax({
      url: "./controller/user.php",
      type: "post",
      dataType: "json",
      data: {
        method: "getinfo",
        user_id: sessionStorage.id
      },
      success: function (resp) {
        $("#headuser").text(resp[0].username);
      }
    });


    $.ajax({
      url: "./controller/games.php",
      type: "POST",
      dataType: "json",
      data: {
        method: "getgame",
        game_id: sessionStorage.game_id
      },
      success: function (resp) {
        var html = "";
        html += resp[0].title;
        $("#display").html(html);
      }
        });

  });
</script>