<div id="display">
  
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {

    $.ajax({
      url: "../controller/games.php",
      type: "POST",
      dataType: "json",
      data: {
        method: "getall"
      },
      success: function (resp) {
        var html = "<ul>";
        for (var i = 0; i < resp.length; i++) {
          html += "<li><h3>" + resp[i].title + "</h3></li>";
        }
        html += "</ul>";
        $("#display").html(html);
      }
    });

  });
</script>