<header>
  <div class="headlogo">
    <img src="./img/smalllogo.png" />
    <div class="headerlogotext">
      <p class="headgame">THE GAME</p>
      <p class="headex">EXCHANGE</p>
    </div>
  </div>
  <a href='userprofile'><span id="cancel">cancel</span></a>
</header>
<div class='wrapper'>
  <div class='imageupload'>
    <form id='gameimgform'>
      <input type="file" name="file" id="gamepic" class="inputfile2" />
      <label for="gamepic">Choose an image...</label>
    </form>
  </div>
  <div class='inputflexcreate'>
    <form id="gameForm" name="makegame" method="post">
      <input type='text' id='title' placeholder='Game Title' autofocus='autofocus' required='true' pattern='[a-z, A-Z]{1,30}' />
      <select id='genreselect'>
        <option disabled selected value='40'>Choose an genre</option>
      </select>
      <div class='numof'>
        <label for='minplayers'>Players:</label>
        <input type='number' id='minplayers' min='1' max='99' value='1'  required />
        <label for='maxplayers'>To</label>
        <input type='number' id='maxplayers' min='1' max='99' value='2'  required />
      </div>
      <div class='numof'>
        <label for='mintime'>Play time:</label>
        <input type='number' id='mintime' min='1' max='999' value='20'  required />
        <label for='maxtime'>To</label>
        <input type='number' id='maxtime' min='1' max='999' value='40'  required />
      </div>
      <input type='number' id='age' min='1' max='99' placeholder='Enter minimum age' required />
      <button id='add'>ADD</button>
    </form>
  </div>
</div>
<script>
  $(document).ready(function () {
    
    var files = document.getElementById("gamepic");
    var filename = (Math.random()+1).toString(36).substring(7);
    console.log(filename);
    

    $("#gamepic").on('change', function (e) {
      //do whatever you want
      e.preventDefault();
      

      var formData = new FormData();


      var xhr = new XMLHttpRequest();

      var allfiles = files.files;

      if (!allfiles[0].type.match("image/*")) {
        return false;
      }
      formData.append("images[]", allfiles[0], allfiles[0].name);
      formData.append("user_id", sessionStorage.id);
      formData.append("filename", filename);


      xhr.open("POST", "./model/gameupload.php", true);
      xhr.onload - function () {
        if (xhr.status == 200) {
        }
      }
      $(".inputfile2 + label").css({"background-color": "#43484c",
                                   "color": "#aaaaaa"});
      $(".inputfile2 + label").html(allfiles[0].name);


      xhr.send(formData);
    });

    $("#gameForm").submit(function() {
          

        $.ajax({
          url: "./controller/games.php",
          type: "post",
          dataType: "html",
          data: {
            method: "add",
            title: document.getElementById('title').value,
            genre: document.getElementById('genreselect').value,
            players: document.getElementById('minplayers').value + " - " + document.getElementById('maxplayers').value,
            time: document.getElementById('mintime').value + "mins - " + document.getElementById('maxtime').value + "mins",
            age: document.getElementById('age').value + "+",
            user_id: sessionStorage.id,
            image: "./users/" +sessionStorage.id + "/" +filename +".jpg"
          },
          success: function (resp) {
            location.replace("userprofile");
          }
        });


    });

    $.ajax({
      url: "./controller/genres.php",
      type: "POST",
      dataType: "json",
      data: {
        method: "getall"
      },
      success: function (resp) {
        for (var i = 0; i < resp.length; i++) {
          $('<option>').val(resp[i].ID).text(resp[i].genrename).appendTo('#genreselect');
        }
      }
    });
    
    
     

      



  });
</script>