<header>
  <div class="headlogo">
    <img src="./img/smalllogo.png" />
    <div class="headerlogotext">
      <p class="headgame">THE GAME</p>
      <p class="headex">EXCHANGE</p>
    </div>
  </div>
  <a href='userprofile'><span id="cancel">cancel</span></a>
</header>
<div class="wrapper">
  <div class="profwrap">
    <img id="profileimg" class="profile" src="./img/profile.png" alt="profile picture">
    <p class="editprof">edit image</p>
  </div>
  <div class="inputflex">
    <div class="flexinput">
      <i class="fa fa-user"></i>
      <input type='text' id='name' placeholder='Enter Name' autofocus='autofocus' required='true' pattern='[a-z, A-Z]{1,30}' oninput='checkName(this);'/>
    </div>
    <div class="flexinput">
      <i class="fa fa-user"></i>
      <input type='text' id='username' placeholder='Enter Username' autofocus='autofocus' required='true' pattern='[a-z, A-Z]{1,20}' oninput='checkuserName(this);'/>
    </div>
    <div class="flexinput">
      <i class="fa fa-envelope"></i>
      <input type='text' id='email' placeholder='Enter Email' autofocus="autofocus" required="true" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"/>
    </div>
    <div class="flexinput">
      <i class="fa fa-map-marker"></i>
      <input type='text' id='city' placeholder='Enter City' autofocus='autofocus' required='true' pattern='[a-z, A-Z]{1,20}' oninput='checkCity(this);'/>
    </div>
    <div class="flexinput">
      <i class="fa fa-lock"></i>
      <input type='password' id='password' placeholder='Enter Password' autofocus="autofocus" required="true" pattern="[a-z, A-Z, 0-9]{4,20}" oninput="checkpassword(this);"/>
    </div>
    <a id='edit'>UPDATE</a>
    <a id='delete'>DELETE ACCOUNT</a>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {

    $.ajax({
      url: "./controller/user.php",
      type: "post",
      dataType: "json",
      data: {
        method: "getinfo",
        user_id: sessionStorage.id
      },
      success: function (resp) {
        $("#profileimg").attr("src", resp[0].avatar);
        $("#profileimg").attr("alt", "Picture of " + resp[0].name);
        $("#name").attr("value", resp[0].name);
        $("#username").attr("value", resp[0].username);
        $("#email").attr("value", resp[0].email);
        $("#city").attr("value", resp[0].location);
        $("#password").attr("value", resp[0].password);
      }
    });

    document.getElementById('edit').onclick = function () {
      //connect and insert 
      $.ajax({
        url: "./controller/user.php",
        type: "post",
        dataType: "html",
        data: {
          method: "update",
          name: document.getElementById('name').value,
          username: document.getElementById('username').value,
          email: document.getElementById('email').value,
          city: document.getElementById('city').value,
          password: document.getElementById('password').value,
          user_id: sessionStorage.id
        },
        success: function (resp) {
          alert("Updated!");
        }
      });
    }

    document.getElementById('delete').onclick = function () {
      //connect and insert 
      $.ajax({
        url: "./controller/user.php",
        type: "post",
        dataType: "html",
        data: {
          method: "delete",
          user_id: sessionStorage.id
        },
        success: function (resp) {
          alert("Deleted!");
        }
      });

    }
    
            function checkName(input) {
            var submitButton = document.getElementById("signup");
            console.log("input: " + input);
            if (input.validity.patternMismatch) {
                input.setCustomValidity("Name can only contain a-z or A-Z");
            } else if (input.validity.valueMissing) {
                input.setCustomValidity("You must enter a name!");
            } else {
                input.setCustomValidity("");
            }
        }
            function checkUsername(input) {
            var submitButton = document.getElementById("signup");
            console.log("input: " + input);
            if (input.validity.patternMismatch) {
                input.setCustomValidity("Name can only contain a-z or A-Z");
            } else if (input.validity.valueMissing) {
                input.setCustomValidity("You must enter a name!");
            } else {
                input.setCustomValidity("");
            }
        }
            var email = document.getElementById('email');

            email.addEventListener(function (event) {

                if (email.validity.typeMismatch) {
                    email.setCustomValidity("Must be email format: example@example.com");

                } else if (email.validity.valueMissing) {
                    email.setCustomValidity("Required field");

                } else {
                    email.setCustomValidity("");
                }
            });
            function checkCity(input) {
            var submitButton = document.getElementById("signup");
            console.log("input: " + input);
            if (input.validity.patternMismatch) {
                input.setCustomValidity("Name can only contain a-z or A-Z");
            } else if (input.validity.valueMissing) {
                input.setCustomValidity("You must enter a name!");
            } else {
                input.setCustomValidity("");
            }
        }
            var password1 = document.getElementById('password');
            var password2 = document.getElementById('confirmpassword');

            password1.addEventListener(function (event) {
                if (password1.validity.valueMissing) {
                    password1.setCustomValidity("Required field");

                } else {
                    password1.setCustomValidity("");
                }
            });

            password2.addEventListener(function (event) {

                if (password2.validity.valueMissing) {
                    password2.setCustomValidity("Required field");

                } else {
                    password2.setCustomValidity("");
                }
            });

            var checkPasswordValidity = function () {
                if (password1.value != password2.value) {
                    password1.setCustomValidity('Passwords do not match.');
                } else {
                    password1.setCustomValidity('');
                }
            };

            password1.addEventListener('change', checkPasswordValidity, false);
            password2.addEventListener('change', checkPasswordValidity, false);
  });
</script>