<img src="../img/profile.png" alt="profile picture">
<input type='text' id='name' placeholder='Enter Name' />
<input type='text' id='username' placeholder='Enter Username' />
<input type='text' id='email' placeholder='Enter Email' />
<input type='text' id='city' placeholder='Enter City' />
<input type='password' id='password' placeholder='Enter Password' />
<button id='edit'>Done</button>
<button id='delete'>Delete Account</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {

    document.getElementById('edit').onclick = function () {
      //connect and insert 
      $.ajax({
        url: "../controller/user.php",
        type: "post",
        dataType: "html",
        data: {
          method: "update",
          name: document.getElementById('name').value,
          username: document.getElementById('username').value,
          email: document.getElementById('email').value,
          city: document.getElementById('city').value,
          password: document.getElementById('password').value,
          user_id: sessionStorage.id
        },
        success: function (resp) {
          alert("Updated!");
        }
      });
    }

    document.getElementById('delete').onclick = function () {
      //connect and insert 
      $.ajax({
        url: "../controller/user.php",
        type: "post",
        dataType: "html",
        data: {
          method: "delete",
          user_id: sessionStorage.id
        },
        success: function (resp) {
          alert("Deleted!");
        }
      });

    }
  });
</script>