<header>
  <div class="headlogo">
    <img src="./img/smalllogo.png" />
    <div class="headerlogotext">
      <p class="headgame">THE GAME</p>
      <p class="headex">EXCHANGE</p>
    </div>
  </div>
</header>
<div class="wrapper">
  <p class="signupp">Please fill out the required fields to create your new account</p>
  <div class="inputflex">
    <form id="submitForm" name="signup" method="post">
      <div class="flexinput">
        <i class="fa fa-info-circle"></i>
        <input type='text' id='name' name="name" placeholder='Enter Name' autofocus='autofocus' required='true' pattern='[a-z, A-Z]{1,30}' />
      </div>
      <div class="flexinput">
        <i class="fa fa-user"></i>
        <input type='text' id='username' placeholder='Enter Username' autofocus='autofocus' required='true' pattern='[a-z, A-Z]{1,20}' />
      </div>
      <div class="flexinput">
        <i class="fa fa-envelope"></i>
        <input type='email' name="email" id='email' placeholder='Enter Email' autofocus="autofocus" required="true" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" />
      </div>
      <div class="flexinput">
        <i class="fa fa-map-marker"></i>
        <input type='text' id='city' placeholder='Enter City' autofocus='autofocus' required='true' pattern='[a-z, A-Z]{1,20}' />
      </div>
      <div class="flexinput">
        <i class="fa fa-lock"></i>
        <input type='password' id='password' placeholder='Enter Password' autofocus="autofocus" required="true" pattern="[a-z, A-Z, 0-9]{4,20}" />
      </div>
      <div class="flexinput">
        <i class="fa fa-unlock-alt"></i>
        <input type='password' id='confirmpassword' placeholder='Confirm Password' autofocus="autofocus" required="true" pattern="[a-z, A-Z, 0-9]{4,20}" />
      </div>
      <button id='signup' type="submit">SIGN UP</button>
    </form>
  </div>
  <p class="redirect">Already have an account? <a href="userlogin">Log in <i class="fa fa-arrow-right"></i></a></p>
</div>
<script>
  $(document).ready(function () {

    $("#submitForm").submit(function() {
      //connect and insert
      var pass1 = $("#password").val();
      var pass2 = $("#confirmpassword").val();
      
      
      if(pass1 == pass2) {


        $.ajax({
          url: "./controller/user.php",
          type: "post",
          dataType: "html",
          data: {
            method: "insert",
            name: document.getElementById('name').value,
            username: document.getElementById('username').value,
            email: document.getElementById('email').value,
            city: document.getElementById('city').value,
            password: document.getElementById('password').value
          },
          success: function (resp) {
            location.replace("userlogin");
          }
        });
      } else {
        $(".fa-unlock-alt").css('color', '#ff471a');
      }

    });
  });
</script>